.modal-fullscreen {
  .modal-content {
    background-color: #000000;

    .modal-body {
      position: relative;
      .icon-close {
        position: absolute;
        font-size: 1.8rem;
        cursor: pointer;
        float: right;
        color: #ffffff;
        top: 10px;
        right: 20px;
        z-index: 99;
      }
      .slider {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        width: 50%;
        .arrow {
          font-size: 3rem;
          color: #ffffff;
          cursor: pointer;
          z-index: 99;
        }
        .left-arrow {
          position: absolute;
          top: 50%;
          left: 0;
          user-select: none;
          transform: translateY(-50%);
        }
        .right-arrow {
          position: absolute;
          top: 50%;
          right: 0;
          user-select: none;
          transform: translateY(-50%);
        }
        .space-slider {
          position: relative;
          .slide {
            opacity: 0;
            transition-duration: 1s ease;
            .image {
              height: 100vh;
              box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
                rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
              border-radius: 12px;
            }
          }
          .active {
            opacity: 1;
            transition-duration: 1s;
            transform: scale(1.08);
          }
        }
      }
      .information-section {
        color: #ffffff;
        font-size: 1.5rem;
        margin-top: 100px;
        text-align: center;
        padding: 0 100px;
        word-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1368px) {
  .modal-fullscreen {
    .modal-content {
      .modal-body {
        .slider {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .modal-fullscreen {
    .modal-content {
      .modal-body {
        .information-section {
          overflow-x: hidden;
          padding: 0 50px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .modal-fullscreen {
    .modal-content {
      .modal-body {
        .icon-close {
          right: 8px;
          font-size: 1.2rem;
        }
        .slider {
          .arrow {
            font-size: 1.5rem;
          }
        }
        .information-section {
          margin-top: 50px;
          padding: 0 12px;
        }
      }
    }
  }
}
